#reaction {
    color: var(--red);
    background-color: var(--red-95);
}

#memory {
    color: var(--yellow);
    background-color: var(--yellow-95);
}

#verbal {
    color: var(--green);
    background-color: var(--green-95);
}

#visual {
    color: var(--blue);
    background-color: var(--blue-95);
}